In [1]:
import pandas as pd
import numpy as np

In [5]:
lz_data = pd.read_csv('../Data/lake_Zurich.csv')
lz_data.head(10)

,ABUNDANCE,BIOMAS,GENUS_SPECIES,SAMPLE_DESC,PLOT,LATITUDE,LONGITUDE,DAY,MONTH,YEAR
0,0,7.54128,Anabaena flos-aquae,42.19_88.1_7_8_2002,NaN,47.33,8.56,7,8,2002
1,0,4.09116,Ankyra ancora,42.19_88.1_3_7_1996,NaN,47.33,8.56,3,7,1996
2,0,1.32360,Ankyra sp,42.19_88.1_10_7_2006,NaN,47.33,8.56,10,7,2006
3,0,1.38090,Ankyra sp,42.19_88.1_1_7_2009,NaN,47.33,8.56,1,7,2009
4,0,1.96853,Ankyra sp,42.19_88.1_6_7_2005,NaN,47.33,8.56,6,7,2005
5,0,3.96940,Ankyra sp,42.19_88.1_6_6_2007,NaN,47.33,8.56,6,6,2007
6,0,2.15214,Aphanizomenon flos-aquae,42.19_88.1_7_4_2004,NaN,47.33,8.56,7,4,2004
7,0,3.55328,Aphanizomenon flos-aquae,42.19_88.1_5_2_1997,NaN,47.33,8.56,5,2,1997
8,0,3.56615,Aphanizomenon flos-aquae,42.19_88.1_3_2_1993,NaN,47.33,8.56,3,2,1993
9,0,3.86260,Aphanizomenon flos-aquae,42.19_88.1_9_8_1989,NaN,47.33,8.56,9,8,1989

In [11]:
lz_data.groupby('GENUS_SPECIES').count()['ABUNDANCE'].sort_values(ascending=False)

GENUS_SPECIES
Planktothrix rubescens    268
Asterionella formosa      230
Fragilaria crotonensis    168
Gymnodinium sp            125
Dinobryon sp              101
                         ...
Kephyrion moniliferum       1
Limnothrix planctonica      1
Kirchneriella sp            1
Microcystis sp              1
Planktolyngbya sp           1
Name: ABUNDANCE, Length: 64, dtype: int64

In [15]:
#Planktothrix rubescens processing
plank_rub = lz_data[lz_data['GENUS_SPECIES'] == 'Planktothrix rubescens']
#convert column to datetime
plank_rub["DATE"] = pd.to_datetime(plank_rub[["YEAR", "MONTH", "DAY"]])

/tmp/ipykernel_845/3319977301.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  plank_rub["DATE"] = pd.to_datetime(plank_rub[["YEAR", "MONTH", "DAY"]])

In [17]:
#Sort by day collected
plank_rub = plank_rub.sort_values(by="DATE")

In [19]:
plank_rub.groupby("YEAR").count()

,ABUNDANCE,BIOMAS,GENUS_SPECIES,SAMPLE_DESC,PLOT,LATITUDE,LONGITUDE,DAY,MONTH,DATE
YEAR,,,,,,,,,,
1976,7,7,7,7,0,7,7,7,7,7
1977,6,6,6,6,0,6,6,6,6,6
1978,5,5,5,5,0,5,5,5,5,5
1979,9,9,9,9,0,9,9,9,9,9
1980,5,5,5,5,0,5,5,5,5,5
1982,6,6,6,6,0,6,6,6,6,6
1983,2,2,2,2,0,2,2,2,2,2
1985,3,3,3,3,0,3,3,3,3,3
1986,1,1,1,1,0,1,1,1,1,1
1987,7,7,7,7,0,7,7,7,7,7
1988,8,8,8,8,0,8,8,8,8,8
1989,8,8,8,8,0,8,8,8,8,8
1990,11,11,11,11,0,11,11,11,11,11
1991,8,8,8,8,0,8,8,8,8,8
1992,10,10,10,10,0,10,10,10,10,10
1993,7,7,7,7,0,7,7,7,7,7
1994,10,10,10,10,0,10,10,10,10,10
1995,6,6,6,6,0,6,6,6,6,6
1996,11,11,11,11,0,11,11,11,11,11
1997,9,9,9,9,0,9,9,9,9,9
1998,12,12,12,12,0,12,12,12,12,12
1999,9,9,9,9,0,9,9,9,9,9
2000,12,12,12,12,0,12,12,12,12,12
2001,10,10,10,10,0,10,10,10,10,10
2002,11,11,11,11,0,11,11,11,11,11
2003,8,8,8,8,0,8,8,8,8,8
2004,9,9,9,9,0,9,9,9,9,9
2005,6,6,6,6,0,6,6,6,6,6
2006,9,9,9,9,0,9,9,9,9,9
2007,11,11,11,11,0,11,11,11,11,11
2008,10,10,10,10,0,10,10,10,10,10
2009,12,12,12,12,0,12,12,12,12,12
2010,10,10,10,10,0,10,10,10,10,10